[Desktop Entry]
Version=1.0
Name=sagiso
Comment= sagiso P2P Cryptocurrency
Comment[fr]= sagiso, monnaie virtuelle cryptographique pair à pair
Comment[tr]= sagiso, eşten eşe kriptografik sanal para birimi
Exec=sagiso-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=sagiso-qt
